body html{
  height: 100%;
  width: 100%;
}

body{
	padding-top: 50px;
  text-align: left;
}

.mapArea {
     background-color: #aaaaaa;
     height: 100vh;
     margin-left: auto;
     margin-right: auto;
     width: 100%;
}

/*Audio Player edits*/
.audiojs{
  position:fixed;
  bottom: 0px;
  height: 100px;
  width: 100%;
  background-image: none;
}
.audiojs .play-pause{
  width: 15%;
  border-right: none;
}
.audiojs .scrubber{
  width:50%;
}
.audiojs .time{
  width:20%;
  border-left: none;
}
#audioTitle{
  display: block;
  position: relative;
  color: white;
  clear: both;
  left: 15%;
  padding-left:10px;
} 

/*Bootstrap edits*/
.col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9{
	padding-right:0px;
	padding-left:0px;
}

h1{
  margin-bottom:0px;
}

h4{
	margin-top: 5px;
  margin-bottom:10px;
  border-top: 2px solid #ccc;
}

#itemDetail {
  margin: 50px;
}

@media (min-width: 768px) {
  .navbar-nav {
    float: right;
    margin: 0;
  }
}
